body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0B1D26;
  color: white;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

/* Animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.opacity-100 {
  opacity: 1;
}

.translate-y-0 {
  transform: translateY(0);
}

@keyframes grow {
  to {
    width: 100%;
  }
}
